<div>Il y a {{categories|length}} categories enregistrées</div>
<a href="{{path('categorie_new')}}">+Create Category</a>

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Nombre de film</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {% for category in categories  %}
            <tr>
                <td>{{category.name}}</td>
                <td>
                    {% for film in category.series %}
                        {{film|length}} films
                    {% endfor %}
                </td>
                <td><a href="{{path('categorie_detail', {id: category.id})}}"><i
                        class="fas fa-info"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>